/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
    max-width: 100%;
   
}

html {
    max-width: 1920px;
    min-width: 428px;
    width: 100%;
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, p, a, i {
    text-decoration: none;
    color:white;
}

h1 {
    font-size: 16rem;
    text-align:center;
    
}

h2 {
    font-size: 6rem;
}

h3 {
    font-size: 5rem;
}

p {
    font-size: 3rem;
}

a {
    font-size: 3.5rem;
}

/* header section */
header {
    color: white;
    width: 100%;
    height: 100vh;
    background-image: url('../img/home-header.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


a.title{
    font-size: 7rem;
    text-align: center;
}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-inline: 40%;
}

.transparent {
    width:100%;
    height: 40%;
    background-color: #000;
    color: rgb(255, 255, 255);
    opacity: .8;
}

img {
    padding:1%;
}


/* spacers */
.spacer {
    width: 100%;
    height: 20vh;
    background-color: rgb(0, 4, 17);
}
.spacer-sm {
    width: 100%;
    height: 10vh;
    background-color: rgb(0, 4, 17);
}

/* gallery section */
.gallery {
    width: 100%;
    height: 110vh;
    text-align: center;
    background-color: rgb(0, 4, 17);
}

/* about us section */
.about {
    width: 100%;
    height: 75vh;
    text-align: center;
    background-image: url("../img/staff-cooks.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.about-container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 4, 17, .8);
}

.about h2 {
    width: 100%;
}

.about-container .text {
    width: 50%;
}

/* contact us section */
.contact-section {
    text-align: center;
    background-image: url("../img/jumbo-restaurant.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(0, 4, 17);
}

.contact-container {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 4, 17, .8);
}

.contact h2 {
    padding-top: 5vh;
}

.contact h3 {
    padding-top: 2.5vh;
}

.contact p {
    padding: .5vh 0;
}

.heading2{
    display: flex;
    justify-content: center;
}

.info {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.address {
    width: 40%;
}

.hours {
    width: 25%;
    padding-bottom: 2.5vh;
}

.contacts {
    width: 25%;
}

/* footer section */
footer {
    width: 100%;
    height: 15vh;
    padding-top: 2.5vh;
    font-size: 5rem;
    background-color: black;
    color: white;
}

.logo{
    font-size: 1.5rem;
}


input{
    width:70%;
    font-size: 3rem;
}
button{
    width:25%;
    font-size:3rem
}
/* mobile media query */
@media (max-width: 428px) {
    /* header section */
    

    /* gallery section */
    .gallery {
        height: auto;
    }
    .menu{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    /* about us section */

    .about {
        height: 210vh;
    }

    .formm{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    button{
        width: 100%;
    }

    input{
        width: 100%;
    }

    .about h2 {
        width: 50%;
        padding-top: 5vh;
        padding-bottom: 5vh;
    }

    h1{

        font-size: 16rem;
        text-align: center;
        display: flex;
    }

    .transparent{
        height: 70vh;
    }

    a.title{
        font-size: 5rem;
        width: 100%;
        margin: 5%;
    }
    .about-container .text {
        width: 85%;
    }
    .icons{
        margin-inline: 5%;
    }
    
    .about-container{
        height: 70vh;
    }
    /* contact us section */
    .contact h3 {
        padding-top: 2.5vh;
    }
    
    .info {
        flex-wrap: wrap;
    }
    
    .address {
        width: 100%;
        padding-bottom: 2.5vh;
    }
    
    .hours {
        width: 100%;
    }
    
    .contacts {
        width: 100%;
        padding-bottom: 2.5vh;
    }

    /* footer section */
    footer {
        height: auto;
        padding-top: 2.5vh;
        font-size: 2rem;
        background-color: black;
    }
}

.nav{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}



.wholefooter{
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: space-around;
    align-items: baseline;
}

.footersection{
    background-color:black;
}

.logo{
    font-size:1.5rem;  
}

.footernav{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}


@media (max-width: 1920px) {
    /* header section */
    

    /* gallery section */
    .gallery {
        height: auto;
        
    }
    .logo{
        margin: 5%;
        font-size: 100%;
        display: flex;
        align-items: baseline;
        flex-direction: column;
        justify-content: flex-end;
    }
    img{
        padding: 2%;
    }
    /* about us section */

    .about {
        height: 75vh;
    }
    
    .about h2 {
        width: 100%;
        
    }
    
    .about-container .text {
        width: 85%;
    }
    
    /* contact us section */
    .contact h3 {
        padding-top: 2.5vh;
    }
    
    .info {
        display: flex;
        flex-direction: row;
    }
    
    .address {
        width: 100%;
        padding-bottom: 2.5vh;
    }
    
    .hours {
        width: 100%;
    }

    
    
    .contacts {
        width: 100%;
        padding-bottom: 2.5vh;
    }

    .nav{
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
    }

    /* footer section */
    footer {
        height: auto;
        padding-top: 2.5vh;
        font-size: 2rem;
    }
    .footersection{
        font-size: 200%;
    }
    .footernav{
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        align-content: center;
        align-items: center;
        width: 100%;
    }

}
